header {
    height: 120px;
    width: 100;
    background-image: white;
    overflow: hidden;
}


/*header*/

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15%;
}

.container__ul {
    width: 100;
    margin: 0 auto;
    background: black;
    color: #fff;
    border-bottom: 4px solid #871a23;
    padding: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-around;
    padding: 7px 15px;
}


/*chinh vao doi tuong p trong class container_ul*/

.container__ul p {
    padding: 7px 15px;
}


/*chinh vao class header_logo trong id header*/

header .header__logo {
    width: 25%;
    float: left;
}

header .header__logo img {
    width: 100%;
}

.menu_dasboard ul,
nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
}

.menu_dasboard ul li:hover,
nav ul li a:hover {
    background-color: whitesmoke;
    color: black;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}

.banner-text {
    position: absolute;
    top: 18%;
    color: black;
    font-size: 25px;
    font-family: 'Arial';
}

.banner-text h3 {
    margin-bottom: 25px;
}

.banner-text p {
    margin-bottom: 50px;
}

.banner-text a.banner-text-btn {
    display: inline-block;
    color: #fff;
    padding: 14px 35px;
    text-decoration: none;
    background: #871a23;
}

.container_main {
    position: relative;
}

.title-sale {
    display: flex;
    font-size: 30;
    color: var(--text--w);
    align-items: center;
    justify-content: center;
}

.title-sale img {
    z-index: 1;
}

.title-sale p {
    z-index: 2;
    position: absolute;
    padding: auto;
    font-size: 20px;
}

.container__slide-caroulse {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.container__slide-caroulse-list {
    width: 404;
    height: 224;
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: fade_position infinite ease-in-out 10s;
    z-index: 1;
}

.wrapper {
    max-width: 100%;
    padding: 0 10%;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: 111;
}

.text-wrapper h3 {
    width: 100%;
    padding: 0 auto;
    height: 30;
    font-size: 20px;
    text-transform: uppercase;
}

ul.product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

ul.product li {
    flex-basis: 25%;
    padding: 0 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
}

ul.product li:hover .product-top a.buy-now {
    bottom: 0px;
}

ul.product li:hover .product-top .product-thumb img {
    opacity: 80%;
}


/*set max-size =    box contain it*/

ul.product li img {
    max-width: 100%;
    height: auto;
}

ul.product li .product-top {
    position: relative;
    overflow: hidden;
}

ul.product li .product-top .product-thumb img,
ul.product li .product-top .product-thumb img {
    display: block;
}

ul.product li .product-top a.buy-now {
    text-transform: uppercase;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446086;
    color: #fff;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    transition: .8 solid;
    bottom: -26px;
    opacity: .8;
}

ul.product li .product-info {
    padding: 5px 0;
}

ul.product li .product-info a {
    display: block;
    text-decoration: none;
}

ul.product li .product-info a.product-cart {
    font-size: 11px;
    text-transform: uppercase;
    color: #9e9e9e;
    padding: 3 px 0px;
}

ul.product li .product-info a.product-name {
    color: #334862;
    padding: 3 px 0px;
}

ul.product li .product-info .product-price {
    color: #111;
    padding: 2px 0;
    font-weight: 600;
}


/*footer*/

.footer {
    background-color: #24262b;
    padding: 70px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col ul {
    list-style: none;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*hieu ung banner*/

.box-left {
    width: 100%;
    height: 470px;
    overflow: hidden;
    position: relative;
    background-image: url(https://images.meesho.com/images/products/79288171/rcff7_512.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 10s infinite ease-in-out;
}


/**/

.hover_icon {
    position: relative;
}

.hover_icon:hover .header__qr {
    display: block;
}

.header__qr {
    background-color: white;
    height: 28px;
    width: 319px;
    position: absolute;
    left: -279px;
    top: 100%;
    padding: 4px 14px;
    border-radius: 10px;
    display: none;
    animation: fadeIn ease-in .3s;
    z-index: 3;
}

.hover_icon-content {
    width: 100%;
}

.hover-search input {
    width: 270px;
}


/*menu */

.menu_dasboard {
    border-radius: 2px;
    height: 200px;
    width: 150px;
    left: -50px;
    text-transform: uppercase;
    background-color: #24262b;
}

.menu_dasboard ul li {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 2px;
}

.menu_dasboard ul li a {
    display: flex;
    justify-content: center;
    color: #fff;
}

.cart_dasboard {
    border-radius: 2px;
    height: 100px;
    width: 150px;
    left: -50px;
    text-transform: uppercase;
    background-color: var(--backcolor--);
}

.cart_dasboard ul li {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 10px;
}