<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" 
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>New Shoe Shop Project 2022</display-name>
	<listener>
    <listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
    </listener>
	 <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
	<servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.ShoeShopProject.controller.web.LoginController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/views/web/log</url-pattern>
    </servlet-mapping>

</web-app>